index.vtl

<h1>Welcome to The School of Hard Knocks</h1>

<h3><a href="/courses"><button class="btn">Manage Courses</button></a></h3>
<h3><a href="/students"><button class="btn">Manage Students</button></a></h3>
